body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal {
    display: flex;
    width: 990px;
    height: 600px;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}
.modal-content {
    padding: 20px;
    width: 60%;
}
.modal-content h1 {
    color: black;
    font-size: 48px;
    margin-bottom: 20px;
}
.modal-content label {
    display: block;
    font-size: 24px;
    color: #333;
    margin-bottom: 8px;
}
.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
}
.modal-content button {
    width: 207px;
    height: 57px;
    padding: 10px;
    background: #B47B48;
    color: white;
    border: none;
    border-radius: 17px;
    font-size: 16px;
    cursor: pointer;
}
.modal-content button:hover {
    background: #fca400;
}
.modal-image {
    width: 615px;
    height: 450px;
    background: url('/images/5a35de9b3dfe82\ 1.jpg') no-repeat center center;
    background-size: cover;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 34px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
}
.close-btn:hover {
    color: #0752dd;
}